<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Эволюция планет в Солнечной системе</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css"/>
</head>
<body>
<a class="href" href="/home">
  <h3 class="btn">Назад</h3>
</a>

<div class="item__container">
  <div class="item__card">
    <div class="item__info">
      <h3>{{ .Name }}</h3>
      <p>{{ .Description }}</p>
      <p>Видимая звездная величина: {{ .Magnitude }}</p>
      <p>Расстояние от Солнца: {{ .Distance }} св. лет</p>
      <p>Возраст: {{ .Age }} млрд лет</p>
    </div>

    <img class="item__img" src="/image/{{ .Image }}" alt="">
  </div>
</div>

</body>
</html>
