<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Эволюция планет в Солнечной системе</title>
  <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div>
    {{range .Items}}
      <div class="flex">
        <h1>{{ .Name }}</h1>
        <p>{{ .Description }}</p>
        <p>Расстояние от Солнца: {{ .Distance }} св. лет</p>
        <p>Звездная величина: {{ .Magnitude }}</p>
        <img src="/image/{{ .Image }}" alt="not found">
      </div>
    {{end}}
</div>
</body>
</html>
