<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Эволюция планет в Солнечной системе</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css"/>
</head>
<body>

<div>
  <h3>Эволюция ближайших к Солнцу звезд</h3>
</div>

<div class="row"></div>

<div class="form__container">
  <form class="form" action="/home" method="get">
    <input class="input__text" type="text" name="name" placeholder="Название звезды">
    <input class="input__btn" type="submit" value="Найти">
  </form>
</div>

<div class="card__container">
  <div class="card__list">
      {{range .Items}}
        <a class="href" href="/star/{{ .ID }}">
          <div class="card" style="background-image: url(/image/{{ .Image }})">
            <div class="card__description--container">
              <div class="card__description--bgnd"></div>

              <div class="card__description">
                <h2>{{ .Name }}</h2>
                <p>{{ .Description }}</p>
              </div>
            </div>
          </div>
        </a>
      {{end}}
  </div>
</div>

</body>
</html>
